.detailed {
  position: absolute;
  left: 200px;
  right: 200px;
}

.content>h1 {
  line-height: 1.5rem;
  margin-top: inherit;
}

.content>p {
  line-height: 2em;
}

.content>h1>span {
  color: pink;
  font-size: 14px;
  font-weight: normal;
}

.video>video {
  width: 100%;
  object-fit: fill;
  
}
.video>p {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: inherit;
}
=======
*{
  margin: 0;
  padding: 0;
}

html, body{
  width: 100%;
  height: 100%;
}

.main{
  display: flex;
  width: 100%;
  height: 100%;
  background-image: url(../images/bg.jpg);
  background-repeat: no-repeat;
  overflow: hidden;
}

/* left side */
.left {
  width: 40%;
}

.right {
  width: 60%;
  background-color: white;
  overflow: auto;
}

/* Layout */
.user-info{
  width: 100%;
  height: 30%;
}

.app-links {
  width: 100%;
}

.head-box {
  width: 100%;
  height: 40%;
}

/* user-info */
.user-info{
  text-align:center;
  color: white;
}

.avatar{
  align-items: center;
  padding: 20px;
}

#team-name{
  font-size: 30px;
  padding: 10px;
}

.text{
  padding: 5px;
}

.round-icon{
  width: 25%;
  height: 25%;
  border-radius: 50%;
}

/*Start of zyc's part:
link-** means css for 连接菜单
head-** means css for 文章列表头条展示
*/
.head-timeline {
    font-size: 15px;
    margin: 0 0 10px 0;
    color: darkgrey;
}

.head-subheads {
    font-size: 18px;
    color:gray;
    margin: 0 0 10px 0;
    }

.head-blog-link {
    color: blue;
    font-size: 15px;
    margin: 5px 0 5px 0;
}    

.head-h2 {margin:0}

.head-image {
    width: 100%;
    margin: 0;
}

.head-box {
    height: 40%;
    width: 40%;
    border-width: 5px;
    border-style: solid;
    border-color: black;
}

.link-div-inline { 
    display: inline-table;
    }

/*    
body {
    background-image:url("https://pic4.zhimg.com/1b7b489b49ca91a10fe6d0979e2eb465_r.jpg");
    background-repeat:no-repeat;
}
*/

.linklink-box {
    width: 16%;
    height: 50%;
    border-width: 5px;
    border-style: solid;
    border-color: black;
}

.link-smaller-img {
    width: 30%;
    padding: 10px 20px 10px 20px;
}
.link-box {
    text-align: center;
    width: 140px;
}
/*End of zyc's part*/


*{
  margin: 0;
  padding: 0;
}

html, body{
  width: 100%;
  height: 100%;
}

.main{
  display: flex;
  width: 100%;
  height: 100%;
  background-image: url(../images/bg.jpg);
  background-repeat: no-repeat;
}

/*Start of zyc's part:
link-** means css for 连接菜单
head-** means css for 文章列表头条展示
*/
.head-timeline {
    font-size: 15px;
    margin: 0 0 10px 0;
    color: darkgrey;
}

.head-subheads {
    font-size: 18px;
    color:gray;
    margin: 0 0 10px 0;
    }

.head-blog-link {
    color: blue;
    font-size: 15px;
    margin: 5px 0 5px 0;
}    

.head-h2 {margin:0}

.head-image {
    width: 100%;
    margin: 0;
}

.head-box {
    height: 40%;
    width: 40%;
    border-width: 5px;
    border-style: solid;
    border-color: black;
}

.link-div-inline { 
    display: inline-table;
    }

/*    
body {
    background-image:url("https://pic4.zhimg.com/1b7b489b49ca91a10fe6d0979e2eb465_r.jpg");
    background-repeat:no-repeat;
}
*/

.linklink-box {
    width: 16%;
    height: 50%;
    border-width: 5px;
    border-style: solid;
    border-color: black;
}

.link-smaller-img {
    width: 30%;
    padding: 10px 20px 10px 20px;
}
.link-box {
    text-align: center;
    width: 140px;
}
/*End of zyc's part*/


/* Stories */
.stories{
  padding: 20px;
}

.story-row{
  margin-right: 40px;
  margin-top: 20px;
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  height: 210px;
}

.story-pic{
  width: 200px;
  height: 200px;
}

.story-info{
  padding: 20px;
  height: 200px;
  box-sizing: border-box;
}

.story-link{
  margin-top: 20px;
}

/* article.html */

.topsidebar {  
  position: static;
  width: 100%;
  height:50px;
}

.left {
  position:absolute;
  left: 0px;
  top:0px;
  width: 10%;
  height: 50px;
} 

.center {
  position: absolute;
  left: 10%;
  width: 80%;
  height:50px;
}

.right {
  position: absolute;
  left: 90%;
  width: 10%;
  height:50px;
}

.dropdown {
  position:relative;
  display:inline-table;
}

  .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
}

.dropdown:hover .dropdown-content {
display: block;
}

.icon {
background-image: url("/home/me/下载/icon.png");
position:relative;
top: 1px;
left: 1px;
width: 48px;
height: 48px;
}

.rightImg {
background: url("/home/me/Documents/task/xiaotian9202.github.io/images/1_头像.jpg");
position: relative;
/* top: 40px; */
left: 1px; 
width: 48px;
height: 48px;
border-radius: 50%;
float: right;
}
.title {
position: absolute;
top: 1px;
}
/*end of yxt part*/
