.user_info{
  width: 20%;
  height: 200px;
  background-image: url(images/bg_pic.jpg);
  color: white;
}


.round_icon{
  width: 70px;
  height: 70px;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}