* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?utryh9');
  src:  url('fonts/icomoon.eot?utryh9#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?utryh9') format('truetype'),
    url('fonts/icomoon.woff?utryh9') format('woff'),
    url('fonts/icomoon.svg?utryh9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

html,
body {
  width: 100%;
  height: 100%;
}

.content {
  width: 550px;
  height: 100%;
  margin: 0 auto;
}

.nav {
  display: flex;
  height: 80px;
  background-color: #32394A;
  line-height: 80px;
}

a[class="return"] {
  width: 60px;
  font-family: "icomoon";
  font-size: 32px;
  color: white;
  text-decoration: none;
  text-align: center;
}

a[class="text"] {
  flex-grow: 1;
  font-size: 32px;
  color: #D8DDE2;
  text-decoration: none;
}

a[class="shopcar"] {
  width: 60px;
  font-family: "icomoon";
  font-size: 32px;
  color: white;
  text-decoration: none;
  text-align: center;
}

.banner {
  position: relative;
  height: 186px;
  background: url('../image/story4.2.png') no-repeat top center;
  background-size: 100% 100%;
}

.radius {
  position: absolute;
  bottom: 6px;
  right: 6px;
  background-color: transparent;
  border-radius: 2px;
}

.banner ul li {
  list-style: none;
}

.radius li {
  float: left;
    background-color: gray;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin: 3px;
}

.radius .selected {
  background-color: cornsilk;
}

.tag {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 550px;
  height: 132px;
  padding-top: 24px;
  background-color: white;
}

.tag a {
  display: inline-block;
  width: 148px;
  height: 40px;
  border: 1px solid rgb(198, 203, 216);
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
  color: #000000;
  line-height: 40px;
}

a[class="selected"] {
  color: #FFFFFF;
  background-color: red;
}

.tag a:hover {
  color: #D8DDE2;
  background-color: red;
}

.course-i,
.course-ii,
.course-iii {
  overflow: hidden;
}

.course-img{
  float: left;
  width: 230px;
  height: 150px;
}

.course-img img {
  width: 200px;
  padding: 18px 15px;
}

.course-introduction {
  float: left;
  width: 320px;
  height: 150px;
}

.course-introduction h4 {
  padding: 18px 0 10px 15px;
}

.course-introduction p {
  padding-left:15px;
  color: #c6c6c6;
}

.course-info {
  color: #c6c6c6;
}

.course-info span {
  color: red;
  margin-left: 15px;
  margin-right: 70px;
}