* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

.main {
  width: 346px;
  margin: 0 auto;
  font-family: "Indie Flower";
}

.drop {
  position: relative;
  width: 100%;
  height: 70px;
  margin: 50px 0 30px 0;
  background-color: red;
  border-radius: 5px;
}

.drop span {
  padding-left: 20px;
  color: white;
  font-size: 2rem;
  line-height: 70px;
}


.drop::before {
  position: absolute;
  right: 20px;
  top: 32px;
  content: "";
  width: 0;
  height: 0;
  border: 14px solid transparent;
  border-top-color: white;
} 

.drop::after {
  position: absolute;
  right: 20px;
  bottom: -30px;
  content: "";
  width: 0;
  height: 0;
  border: 14px solid transparent;
  border-bottom-color: red;
}

.list {
  background-color: red;
  border-radius: 5px;
}

.list ul {
  list-style: none;
}

.list ul .first-row,
.list ul .second-row {
  border-bottom: 2px solid white
}

.list ul li a {
  text-decoration: none;
  color: white;
}

.list ul li a span {
  display: inline-block;
  height: 70px;
  font-size: 2rem;
  vertical-align: top;
  line-height: 70px;
}

.background-img {
  display: inline-block;
  width: 70px;
  background-image: url("../image/b.png");
}

.heart-img {
  background-position: 10px -62px;
}

.star-img {
  background-position: -84px 10px;
}

.chat-img {
  background-position: 10px 10px;
}