* {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
}

.big-box {
  position: relative;
  width: 1000px;
  height: 800px;
  margin: 50px auto;
  background-color: rgb(226, 220, 220);
}

.green-box {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 80px;
  height: 80px;
  background-color: rgb(27, 182, 35);
}

.yellow-box {
  position: absolute;
  right: 100px;
  bottom: 100px;
  width: 80px;
  height: 80px;
  background-color: rgb(233, 211, 15);
}